/*navBar*/
.chef-icon {
  width: 70px;
  margin-right: 40px;
}
/* chef container */
.chef-container {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 10vh;
}

.data-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 6em;
}

.orders-chef {
  margin: 0 auto;
  align-items: center;
  font-size: calc(100% + 10px);
  width: 200px;
  margin-bottom: 2em;
}


.customers-names{
  font-size: calc(40% + 10px);
  position: relative;
  margin-bottom: 10px;

}

.note-icon {
  width: 31px;
  padding-right: 9px;

}

.customer-notes{
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
}
.customer-notes>span{
  background-color: #c4c0c0be;
  border-radius: 8px;
  height: 26px;
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
.customer-notes>#waitername-style-orderChef {
  width: 7em;
}
.container-principal {
  display: flex;
  flex-direction: column;
  background: #5e5b5b;
  padding: 25px;
  box-shadow: 5px 5px 0 #242424;
  color: #fff;
  border-radius: 7px;
  font-size: 1.1em;
  margin-bottom: 1.5em;
}
.orders-container{
  display : flex;
  flex-direction: row;
  justify-content : space-between;
}

.prepare-orders{
  background: #c2c0c0;
  width: 328px;
  margin: 0 auto;
  padding: 2em;
  color: rgb(0, 0, 0);
  border-radius: 7px;
  font-size: calc(40% + 6px);
}

.note-container{
  display: flex;
  padding-top: 10px;
  flex-direction: row;
  color: rgb(211, 213, 216)5, 5, 8, 0.692;
  font-weight: bolder;
}

/* cronometro */
.time-container {
  background-color: #c2c0c0;
  width: 206px;
  height: 108px;
  border-radius: 38px;
  }

#hms {
  height: 44px;
  padding: 6px 0;
  font-size: 33px;
  color: #000;
  font-family: alarm;
  padding-left: 51px;
  padding-top: 18px;
}

.btn {
  display: inline-block;
  width: 23px;
  margin-left: 95px;

}

.title-ready{
  font-size: 26px;
}

.ready-order {
  width: 105px;
  margin-left: 5em;
}

.number-orders{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 14px;
    font-size: 13px;
    border-radius: 10px;
    margin-left: 96px;
    background-color: #fff;

}

.rotate{
  transition: transform .7s ease-in-out;
}
.rotate:hover{
  transform: rotate(-360deg);
}

.btn:hover{
  transform: scale(1.2);
}

.the-orders{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 10px;
}
.time-order {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10em;
}

#history-Order{
  list-style: none;
  text-decoration: none;
  outline: none;
  color: #000;
  font-weight: bolder;
}

/* send Order */

.bagBurger:hover {
  transform: scale(1.1);
}

.bagBurger{
    width: 105px;
    margin-left: 5em;
}

.bagBurger-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10em;
}
